<html>
    <head>
        <title>Dark System</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="javascripts/index.js"></script>
    </head>
    <body>
        <div class='body'>
            <div class="Header">
                <a href="#default" class="logo">Dark System</a>
                <div class="header-right">
                  <a class="active" href="/">Home</a>
                  <a href="/Store">Store</a>
                  <a href="/about">About</a>
                </div>
            </div>
            <div class="LatestProuduct"><img src="images/Latest.jpeg" alt="Latest Prouduct" class="LatestProuduct"></div>
            <button class="LearnMore" onclick="document.location.href = '/store'">Learn how we can help you.</button>
            <div class="Footer"></div>
        </div>
    </body>
</html>