<html>
    <head>
        <title>Dark System</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="javascripts/index.js"></script>
    </head>
    <body>
        <div class='body'>
            <div class="Header">
                <a href="#default" class="logo">Dark System</a>
                <form>
                    <input type="text" placeholder="Search..." class="search" id="SearchBar">
                    <input type="button" value="Go!" class="SearchButton" onclick="StoreSearch()">
                </form>
                <div class="header-right">
                  <a href="/">Home</a>
                  <a class="active" href="/Store">Store</a>
                  <a href="/about">About</a>
                </div>
            </div>
          
        </div>
    </body>
</html>